.container-champion-main {
    z-index: -1;
    display: flex;
    height: 130vh;
    margin-top: 100px;
    position: relative;
    justify-content: center;
    background-color: #03060879;
    grid-template-columns: 50% 40%;
    box-shadow: -2px -124px 112px 140px #030608;
    -moz-box-shadow: -2px -124px 112px 140px #030608;
    -webkit-box-shadow: -2px -124px 112px 140px #030608;

    .cloud {
        opacity: 0;
        height: 90%;
        width: 200%;
        z-index: 99;
        position: absolute;
        transition: 1s ease-in-out;
        transform: translateX(200vh);
        animation: cloud 28s infinite;
    }

    @keyframes cloud {
        100% {
            transform: translateX(-270vh);
        }
    }

    .champion {
        width: 50%;
        opacity: 0;
        height: 100%;
        display: flex;
        z-index: 9999;
        position: relative;
        align-items: center;
        justify-content: center;
        transition: .5s ease-in-out;

        .akali-img {
            z-index: 2;
            left: 160px;
            max-width: 900px;
            position: absolute;
            transition: .5s ease-in-out;
        }

        .bar {
            height: 5px;
            width: 400px;
            position: absolute;
            background-color: rgb(163, 155, 34);
        }

        .bar-top-left {
            transform: rotate(315deg) translateX(17%) translateY(-170px);
        }

        .bar-top-right {
            transform: rotate(-135deg) translateX(-7%) translateY(266px);
        }

        .bar-bottom-right {
            transform: rotate(-135deg) translateX(-7%) translateY(-130px);
        }

        .bar-bottom-left {
            transform: rotate(-45deg) translateX(17%) translateY(227px);
        }
    }

    .champion-info {
        z-index: 9999;
        width: 20%;
        opacity: 0;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: .5s ease-in-out;


        h1 {
            color: #fff;
            font-size: 10rem;
            text-align: center;
            text-shadow:
                1px -1px 0 #fff,
                2px -2px 0 #fff,
                3px -3px 0 #fff,
                4px -4px 0 #fff,
                5px -5px 0 #fff,
                6px -6px 0 #242424,
                7px -7px 0 #242424,
                8px -8px 0 #242424,
                9px -9px 0 #242424,
                10px -10px 0 #242424,
                11px -11px 0 #242424,
                12px -12px 0 #242424,
                13px -13px 12px rgba(0, 0, 0, 0.55),
                13px -13px 1px rgba(0, 0, 0, 0.5);
        }

        :root {
            --bg: #CECEFE;
            --col: #33A1D1
        }

        h1::after {
            background: var(--bg);
            color: var(--col);
        }


        h2 {
            color: white;
            font-size: 2.5rem;
        }

        h3 {
            color: white;
            font-size: 1.3rem;
        }
    }
}