@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');

.App {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Stick No Bills', sans-serif;
}

h1,
img {
    cursor: pointer;
}