.container-map-main {
    display: grid;
    height: 100vh;
    margin-top: 100px;
    background-color: #030608;
    grid-template-columns: 60% 40%;
    box-shadow: -2px -124px 112px 140px #030608;
    -moz-box-shadow: -2px -124px 112px 140px #030608;
    -webkit-box-shadow: -2px -124px 112px 140px #030608;

    .container-map {
        opacity: 0;
        width: 110%;
        display: flex;
        transition: 1s ease-in-out;

        img {
            z-index: 1;
            width: 100%;
            transition: .5s ease-in-out;
        }

        img:hover {
            transform: translateX(20px);
        }
    }

    .container-content {
        opacity: 0;
        z-index: 2;
        display: flex;
        color: #ffff;
        text-align: center;
        margin-left: -290px;
        flex-direction: column;
        justify-content: center;
        transition: 1s ease-in-out;

        h2 {
            font-size: 4rem;
        }

        h1 {
            font-size: 20rem;
            transition: .5s ease-in-out;
        }

        h1:hover {
            font-size: 21rem;
        }

        h3 {
            font-size: 1.4rem;

        }
    }
}

@media screen and (max-width: 1242px) {
    .container-map-main {


        .container-map {
            opacity: 1;
        }

        .container-content {
            opacity: 1;
        }
    }

}