.container-map {
    display: grid;
    height: 100vh;
    background-color: black;
    grid-template-columns: 60% 40%;
    box-shadow: black 20px 20px 80px 140px;

    .container-map {
        opacity: 0;
        transition: 1s ease-in-out;
        width: 110%;
        display: flex;

        img {
            z-index: 1;
            width: 100%;
            transition: .5s ease-in-out;
        }

        img:hover {
            transform: translateX(20px);
        }
    }

    .container-content {
        opacity: 0;
        z-index: 2;
        display: flex;
        color: #ffff;
        text-align: center;
        margin-left: -290px;
        flex-direction: column;
        justify-content: center;
        transition: 1s ease-in-out;

        h2 {
            font-size: 4rem;
        }

        h1 {
            font-size: 20rem;
            transition: .5s ease-in-out;
        }
        h1:hover {
            font-size: 21rem;
        }

        h3 {
            font-size: 1.4rem;

        }
    }
}