.home-container {
    z-index: 2;
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: inset 1px -96px 36px -19px #030608;
    -moz-box-shadow: inset 1px -96px 36px -19px #030608;
    box-shadow: inset 1px -96px 36px -19px #030608;

    .background-video {
        display: none;
    }

    .cards-conteiner {
        width: 100%;
        height: 100vh;
        display: flex;
        margin-top: 10px;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        .card {
            width: 370px;
            height: 280px;
            cursor: auto;
            margin-left: 20px;
            text-align: center;
            position: relative;
            border-radius: 15px;
            transition: .5s ease-in-out;
            background: linear-gradient(to right, #411270, #1026a0);

            .container-img-video {
                position: relative;
                pointer-events: none;
                width: 100%;

                video {
                    left: 0;
                    top: -5px;
                    opacity: 0;
                    width: 100%;
                    position: absolute;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    pointer-events: none;
                    transition: .2s ease-in-out;
                }

                .imagem-container {
                    width: 100%;
                    height: 210px;

                    img {
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                }
            }

            .desc {
                opacity: 1;
                width: 100%;
                height: 60px;
                padding: 20px;
                color: #ffff;
                text-align: start;
                font-size: 1.6rem;
                overflow-y: scroll;
                box-sizing: border-box;
                transition: .3s ease-in-out;
                background: linear-gradient(to right, #411270, #1026a0);
            }

            .desc::-webkit-scrollbar {
                width: 5px;
            }

            .desc::-webkit-scrollbar-track {
                background: rgb(211, 210, 207);
            }

            .desc::-webkit-scrollbar-thumb {
                background-color: rgb(37, 37, 37);
                border: 3px solid rgb(37, 37, 37);
            }

            .arrow {
                width: 100%;
                height: 60px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                animation: 3s link infinite;
                transition: 12s ease-in-out;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background: linear-gradient(to right, #411270, #1026a0);

                a {
                    color: #fff;
                    font-size: 1.6rem;
                    text-decoration: none;
                }
            }

        }

        .card:hover {
            height: 630px;
        }

        .card:hover>.desc {
            opacity: 1;
            height: 55%;
            transition: 0.7s ease-in-out;
        }

        .card:hover>.container-img-video>.imagem-container>img {
            opacity: 0;
            transition: 0.7s ease-in-out;
        }

        .card:hover>.container-img-video>video {
            opacity: 1;
            transition: 0.7s ease-in-out;
        }

    }
}

@media screen and (max-width: 1284px) {

    .home-container {

        .cards-conteiner {
            .card {
                width: 370px;

                .container-img-video {
                    video {
                        width: 100%;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 375px) {


    .home-container {
        width: 100vw !important;
        height: 100vh !important;

        .mobile-video {
            width: 100vw;
            height: 100vh;
            position: relative;
            .background-video {
                top: 0px;
                z-index: -1;
                left: -430px;
                margin-left: -420px;
                height: 100vh;
                display: block;
                z-index: 0 !important;
            }
        }
        .cards-conteiner {
            .card {
                display: none;
            }
        }

    }
}